body{
    margin:0;
    padding:0;
    background:#000;
}
.space{
    height:400px;
    background-image:linear-gradient(to bottom,rgb(115, 175, 224,1),rgba(255,255,255,1));
    animation: space-change 20s  infinite;
} 
/* 因为background-image不能进行动画,所以改变背景就只能改变透明度 */
@keyframes space-change{
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.1;
    }
    80%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.3;
    }
}

.sun{
    position: absolute;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
    width: 100px;
    height:100px;
    background:#fff;
    border-radius:50%;
    box-shadow:0px 0px 100px 50px  #fff, 
            0px 0px 250px 125px #ff0;
    transform: scale(0.5,0.5);
    animation: sunrise 20s  infinite;

}
@keyframes sunrise {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
        transform: scale(0.5,0.5) translateX(0) translateY(0);
    }
    30%{
        opacity: 1;
        transform: scale(0.5,0.5) translateX(0) translateY(-400px);
    }
    50%{
        opacity: 0;
        transform: scale(0.5,0.5) translateX(400px) translateY(400px);
    }
    100%{
        opacity: 0;
    }
}
.moon{
    position: absolute;
    left:calc(50% + 150px);
    top:calc(50% - 50px);
    width: 100px;
    height:100px;
    background:#fff;
    border-radius:50%;
    box-shadow: 0px 0px 16px #fff,
                inset 0px 0px 8px rgba(32, 32, 32);
    animation: moonrise 20s infinite;
    
}
.moon:after{
    content:"";
    position: absolute;
    width: 100px;
    height:100px;
    background:rgba(32, 32, 32);
    border-radius:50%;
    left:-15px;
    top:-8px;
}
@keyframes moonrise {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translateY(0);
    }
     50%{     
        opacity: 0;
        transform:scale(.5,.5) translateY(0);

    }
     75%{
        opacity: 1;
        transform:translateY(-200px); 
    }
    90%{
        opacity: 0;
    }
    80%{
        opacity: 1;
        transform:translateY(-200px); 
    }
    100%{
        opacity: 0;
        transform: translateY(0); 
    } 
    
}